
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div id="content">
  <h1>Christopher Taylor</h1>

  <table class="table table-hover">
    <tbody>
      <tr>
        <td class="col-xs-6 col-md-6">295 Aubrey Cove<br>
            Collierville, TN 38017
        </td>
        <td class="col-xs-6 col-md-6">Phone: (901) 361-3467<br>
          Email: ctylor10@memphis.edu
        </td>
      </tr>
    </tbody>
  </table>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Objective</strong></h3>
    </div>
    <div class="panel-body">
      Seeking full time employment designing robust software on a strong development team.
      </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Education</strong></h3>
    </div>
    <div class="panel-body">
      <strong>University of Memphis, Memphis, TN</strong>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Master of Science: Electrical and Computer Engineering</strong><br>
                <ul>
                  <li>Research/Graduate Assistant</li>
                  <li>Accelerated Bachelor's to Master's Program</li>
                </ul>
            </td>
            <td class="col-xs-4 col-md-2">Jan 2014-May 2016<br>
              <strong>GPA: 3.72/4.0</strong>
            </td>
          </tr>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Bachelor of Science: Electrical Engineering</strong><br>
                <ul>
                  <li>Cecil C. Humphreys Presidential Scholar, Honors Student</li>
                  <li>MemphiSTEM Undergraduate Research Fellow</li>
                  <li>Secretary for Tau Beta Pi</li>
                  <li>Communications officer for TGI (Philantropy student organization)</li>
                </ul>
            </td>
            <td class="col-xs-4 col-md-2">Aug 2010-Dec 2014<br>
              <strong>GPA: 3.67/4.0</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Experience</strong></h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Computational Imaging Research Laboratory, University of Memphis</strong><br>
            Research Assistant. Contributed to research in structured illumination microscopy. Investigated a novel tunable structured illumination technique by implementing a simulated model and an experimental setup.
            </td>
            <td class="col-xs-4 col-md-2">May 2015-May 2016</td>
          </tr>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>ReTransportation, Inc. Memphis, TN</strong><br>
                IT/Software Intern. Designed a timesheet web application using the Django web framework on python for organizing employees' work hours on a weekly basis.
            </td>
            <td class="col-xs-4 col-md-2">Nov 2014-May 2015</td>
          </tr>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>MemphiSTEM Fellowship, University of Memphis</strong><br>
                Undergraduate Researcher. Built a single pixel camera capable of binary imaging by applying skills in computational imaging, optics, an AC motor, circuit design, and Arduino programming.
            </td>
            <td class="col-xs-4 col-md-2">Jan 2013-May 2013</td>
          </tr>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Mellow Mushroom, Germantown, TN</strong><br>
                Kitchen Chef. Prepared food orders for the shift, maintained inventory control, and created a neat and orderly kitchen environment. Trained new workers in kitchen duties.
            </td>
            <td class="col-xs-4 col-md-2">Jan 2010-March 2012</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Applicable Skills</strong></h3>
    </div>
    <ul class="list-group">
		  <li class="list-group-item">Proficient with Microsoft Office.</li>
		  <li class="list-group-item">Confident with Matlab, Ruby on Rails, Django, Python, PHP, HTML5, JAVA, javascript, AJAX, jQuery, Bootstrap, CSS3, Objective-C, Swift, SQL, XML.</li>
      <li class="list-group-item">Confident on Windows, Mac, and Linux.</li>
		  <li class="list-group-item">Knowledgeable of Apache2 HTTP server, Passenger for Rails, Capistrano, GitHub, Apache Subversion.</li>
	  </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>References</strong></h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Dr. Chrysanthe Preza</strong><br>
                Associate Professor and Associate Chair/Graduate Studies Coordinator, Department of Electrical and Computer Engineering; Associate Professor of Biomedical Engineering; and Principal Investigator, Computational Imaging Research Laboratory.
            </td>
            <td class="col-xs-4 col-md-2"><strong>University of Memphis</strong><br>
              (901) 678-4369 <br>
              cpreza@memphis.edu
            </td>
          </tr>
          <tr>
            <td class="col-xs-8 col-md-10"><strong>Dr. Michael Bartz</strong><br>
                Chief Information Officer.
            </td>
            <td class="col-xs-4 col-md-2"><strong> ReTransportation, Inc.</strong><br>
              (901) 647-4666 <br>
              mbartz@re-trans.com
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>