
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div id="content">
  <h1>Chris Taylor</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-8 col-md-8">MS in Electrical Engineering</div>
        <div class="col-xs-4 col-md-4">Expected Graduation: May 2016</div>
      </div>
          <br>
    	<div class="row">
    		<div class="col-xs-8 col-md-8">BS in Electrical Engineering</div>
    		<div class="col-xs-4 col-md-4">Graduated Dec. 2014</div>
    	</div>
      <div class="row">
    		<div class="col-xs-12 col-md-8">University of Memphis, Memphis TN</div>
    	</div>
      <div class="row">
    		<div class="col-xs-12 col-md-8">Cumulative GPA: 3.67</div>
    	</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Employment</h3>
    </div>
    <div class="panel-body">
      <div class="row">
          <div class="col-xs-8 col-md-8">University of Memphis</div>
          <div class="col-xs-4 col-md-4">May 2015 - Present</div>
      </div>
      <div class="row">
          <div class="col-xs-8 col-md-8">Graduate Research Assistant. Dr. Preza's Computational Imaging Research Lab. Developing software to simulate real world optics and investigating a novel illumination pattern for structured ilumination microscopy.</div>
      </div>  
      <br>

      <div class="row">
          <div class="col-xs-8 col-md-8">Re-Trans</div>
          <div class="col-xs-4 col-md-4">Nov. 2014 - May 2015</div>
      </div>
      <div class="row">
          <div class="col-xs-8 col-md-8">Software Engineering Intern. Developed a time sheet web application capable of tracking employees' hours, management approval of timesheets on a weekly basis, and providing the data to the payroll department for documentation. The app featured email alerts for all users, security for user privacy, a request time off calendar, unique user default schedulem, and test scripts. Developed with Python/Django web framework, MySQL database, and deployed to an apache web server. While working at Re-Trans, I also learned about the proprietary 3rd party logistics software used to run the company and track loads. Interfaced with other companies web frameworks to auot-retrieve PODs and DRs to store in Re-Trans database. </div>
      </div>  
      <br>

      	<div class="row">
      		<div class="col-xs-8 col-md-8">Mellow Mushroom</div>
      		<div class="col-xs-4 col-md-4">Jan. 2010 - May 2012</div>
    	</div>
        <div class="row">
      		<div class="col-xs-8 col-md-8">Kitchen Chef. Responsible for preparing dishes, keeping a clean work environment, and inventory management.</div>
    	</div>
    	
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Additional Skills and Organizations</h3>
    </div>
  	<ul class="list-group">
  		<li class="list-group-item">Proficient with Microsoft Office. Including Word, Excel, Powerpoint, Outlook</li>
  		<li class="list-group-item">Proficient with Matlab</li>
  		<li class="list-group-item">Proficient with Web frameworks Python/Django and Ruby on Rails</li>
  		<li class="list-group-item">Proficient with HTML, CSS, Bootstrap, JavaScirpt, jQuery, MYSQL, XML</li>
  		<li class="list-group-item">Knowledgeable of Apache2 web server, Passenger, GitHub, Apache Subversion</li>
  		<li class="list-group-item">Confident on Windows, Mac, and Linux</li>
  		<li class="list-group-item">Secretary for Tau Beta Pi (Engineering Honor Society)</li>
  	</ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">References</h3>
    </div>
    <div class="panel-body">
      Available Upon Request
    </div>
  </div>
</div>